h1 {
  font-size: 10em; /* 1em = 12pt = 16px */
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: blue
}

p {
  font-family: Courier, Monaco, monospace;
  color: brown
}

<!DOCTYPE html>
<html>
  
  <head>
    <title>mitchgilly</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css?version=2" />
  </head>
 <body>
    <h1>My First Heading</h1>
    <p>My first paragraph.</p>
    
    <div>
      <audio controls>
          <source src="scream.mp3" type="audio/mpeg">
          Your browser does not support the audio tag.
      </audio>
    </div>
